/*!
 * this comment will not removed
 *
 */

 // this comment will removed

body {
    background-color: #ff;
    color: white;
}
button {
    background-color: red;
    border-radius: 25px;
    transform: all 1s linear;
}
::placeholder {
    color: gray;
}